.form-actions__right{
    display: flex;
    gap: 20px;
}

.edit-user-form fieldset > legend {
    margin-bottom: 20px;
    font-weight: 600;
}

.form-action__edit-user{
    justify-content: space-between;
}